<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container my-5">
      <h2 class="text-center">Table Subclase Nacional Producto</h2>
      <div class="card">
        <div class="card-header">Subclase Nacional</div>
        <div class="card-body">
          <div class="form-group">
            <label for="idRegion">Grupo</label>
            <select class="form-control" name="" id="">
              <option value="">--Selecione--</option>
              <option value="">Tuberculos</option>
              <option value="">Cereales</option>
              <option value="">Hortalizas</option>
            </select>
          </div>
          <div class="form-group">
            <label for="idRegion">Clase</label>
            <select class="form-control" name="" id="">
              <option value="">--Selecione--</option>
              <option value="">Tuberculos</option>
              <option value="">Cereales</option>
              <option value="">Hortalizas</option>
            </select>
          </div>
          <div class="form-group">
            <label for="idRegion">Subclase</label>
            <select class="form-control" name="" id="">
              <option value="">--Selecione--</option>
              <option value="">Papa</option>
              <option value="">Esparrago</option>
              <option value="">Trigo</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Subclase Nacional</label>
            <input
              class="form-control"
              type="text"
              placeholder="Enter subclase nacional"
            />
          </div>
          <input
            class="btn btn-block btn-primary"
            type="button"
            value="submit"
          />
          <div class="form-group my-3">
            <table class="table text-center table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Grupo</th>
                  <th scope="col">Clase</th>
                  <th scope="col">Subclase</th>
                  <th scope="col">Subclase Nacional</th>
                  <th scope="col">Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th ecope="row">01</th>
                  <td>Cereales</td>
                  <td>Trigo</td>
                  <td>Trigo</td>
                  <td>Trigo</td>
                  <td>
                    <input class="btn btn-success" type="button" value="Edit" />
                    <input
                      class="btn btn-danger"
                      type="button"
                      value="Eliminar"
                    />
                  </td>
                </tr>
                <tr>
                  <th ecope="row">02</th>
                  <td>Hortalizas</td>
                  <td>Esparrago</td>
                  <td>Esparrago</td>
                  <td>Esparrago</td>
                  <td>
                    <input class="btn btn-success" type="button" value="Edit" />
                    <input
                      class="btn btn-danger"
                      type="button"
                      value="Eliminar"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
