<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="usuario.html" rel="noopener noreferrer">Usuario</a></li>
        <li><a href="./Producto/grupo.html" rel="noopener noreferrer">Grupo</a></li>
        <li><a href="./Producto/clase.html" rel="noopener noreferrer">Clase</a></li>
        <li><a href="./Producto/subclase.html" rel="noopener noreferrer">Subclase</a></li>
        <li><a href="./Producto/subclaseNacional.html" rel="noopener noreferrer">Subclase Nacional</a></li>
        <li><a href="empresa.html" rel="noopener noreferrer">Empresa</a></li>
        <li><a href="siembra.html" rel="noopener noreferrer">Siembra</a></li>
        <li><a href="cosecha.html" rel="noopener noreferrer">Cosecha</a></li>

        <li><a href="region.html" rel="noopener noreferrer">Region</a></li>
        <li><a href="provincia.html" rel="noopener noreferrer">Provincia</a></li>
        <li><a href="distrito.html" rel="noopener noreferrer">Distrito</a></li>
      </ul>
    </div>
  </body>
</html>
