<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="usuario.html" rel="noopener noreferrer">Usuario</a></li>
        <li><a href="producto.html" rel="noopener noreferrer">Producto</a></li>
        <li><a href="empresa.html" rel="noopener noreferrer">Empresa</a></li>
        <li><a href="siembra.html" rel="noopener noreferrer">Siembra</a></li>
        <li><a href="cosecha.html" rel="noopener noreferrer">Cosecha</a></li>
      </ul>
    </div>
  </body>
</html>
