<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container my-4">
      <h2 class="text-center">Tabla Provincia</h2>
      <div class="card">
        <div class="card-header"><h4 class="text-center">Provincia</h4></div>
        <div class="card-body">
          <div class="form-group">
            <label for="">Ubigeo</label>
            <input
              class="form-control"
              type="text"
              placeholder="Enter ubigeo"
            />
          </div>
          <div class="form-group">
            <label for="iddepartamento">Departamento</label>
            <select class="form-control" name="" id="iddepartamento">
              <option value="">--Selecione--</option>
              <option value="">Lima</option>
              <option value="">Ancash</option>
              <option value="">Ica</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Provincia</label>
            <input
              class="form-control"
              type="text"
              placeholder="Enter provincia"
            />
          </div>

          <input
            class="btn btn-block btn-primary"
            type="button"
            value="Agregar"
          />
          <div class="form-group my-3 table-responsive">
            <table class="table text-center table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Ubigeo</th>
                  <th scope="col">Departamento</th>
                  <th scope="col">Provincia</th>
                  <th scope="col">Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th ecope="row">01</th>
                  <td>0404</td>
                  <td>Lima</td>
                  <td>Huaral</td>
                  <td>
                    <input class="btn btn-success" type="button" value="Editar" />
                  </td>
                </tr>
                <tr>
                  <th ecope="row">02</th>
                  <td>0104</td>
                  <td>Lima</td>
                  <td>Huaura</td>
                  <td>
                    <input class="btn btn-success" type="button" value="Editar" />
                  </td>
                </tr>
                <tr>
                  <th ecope="row">03</th>
                  <td>0604</td>
                  <td>Lima</td>
                  <td>Barranca</td>
                  <td>
                    <input class="btn btn-success" type="button" value="Edit" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
