<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Tabla Siembra</h1>
      <div class="card">
        <div class="card-header">Add Siembra</div>
        <h4 class="card-header">Perez Solar, David</h4>
        <div class="card-body">
          <form action="" method="post">
            <div class="form-group">
              <label for="producto">Producto</label>
              <select class="form-control" id="producto">
                    <option>--Selecione--</option>
                    <option>Arroz</option>
                    <option>Papa</option>
                    <option>Zanahoria</option>
                  </select>
            </div>
            <a href="#" class="btn btn-primary">Submit</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
