<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <style>
      .none {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Tabla Siembra</h1>
      <div class="card">
        <div class="card-header">Add Siembra</div>
        <h4 class="card-header">Perez Solar, David</h4>
        <div class="card-body">
          <form action="" method="post">
            <!-- Region - Provincia - Distrito -->
            <div class="row align-items-center">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="regio">Region</label>
                  <select class="form-control" id="region">
                    <option>--Selecione--</option>
                    <option>Lima</option>
                    <option>Ica</option>
                    <option>La Libertad</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="provincia">Provincia</label>
                  <select class="form-control" id="provincia">
                    <option>--Selecione--</option>
                    <option>Huaura</option>
                    <option>Baranca</option>
                    <option>Huaral</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="distrito">Distrito</label>
                  <select class="form-control" id="distrito">
                    <option>--Selecione--</option>
                    <option>Huaral</option>
                    <option>Aucallama</option>
                    <option>Chancay</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Producto -->
            <div class="row align-items-center">
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="producto">Grupo</label>
                  <select class="form-control" id="producto">
                    <option>--Selecione--</option>
                    <option>Hortalizas</option>
                    <option>Frutos</option>
                    <option>Tuberculos</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="producto">Clase</label>
                  <select class="form-control" id="producto">
                    <option>--Selecione--</option>
                    <option>Maiz</option>
                    <option>Papa</option>
                    <option>Verduras</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="producto">SubClase</label>
                  <select class="form-control" id="producto">
                    <option>--Selecione--</option>
                    <option>Papa</option>
                    <option>Zanahoria</option>
                    <option>Esparrago</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="producto">SubClase Nacional</label>
                  <select class="form-control" id="producto">
                    <option>--Selecione--</option>
                    <option>Papa yungay</option>
                    <option>Papa pericholi</option>
                    <option>Papa huayro</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- --------------------- -->
            <!--  Radio Button seleccion de tamaños de siembra a cosechar-->
            <div class="form-group">
              <label for="">Selecione</label>
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        id="mfour"
                      />Hectarias
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        id="mthree"
                      />Menos de una hectaria
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        id="mtwe"
                      />Menos de 1000 metros cuadrado
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- End -->
            <!--Cantidad  de siembra a cosechar -->
            <div class="form-group cantidad none">
              <label for="">Cantidad Siembra</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">m²</span>
                </div>
                <input type="text" class="form-control" maxlength="3" />
                <div class="input-group-append four none">
                  <span class="input-group-text">0000</span>
                </div>
                <div class="input-group-append three none">
                  <span class="input-group-text">000</span>
                </div>
                <div class="input-group-append twe none">
                  <span class="input-group-text">00</span>
                </div>
              </div>
            </div>
            <!-- end -->
            <div class="form-group">
              <label for="hectaria">Fecha</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter fecha"
                id="hectaria"
              />
            </div>
            <a href="#" class="btn btn-primary">Submit</a>
          </form>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var animationFrame =
          window.requestAnimationFrame ||
          window.mozRequestAnimationFrame ||
          window.webkitRequestAnimationFrame ||
          window.msRequestAnimationFrame;

        var valCantidad = function() {
          var mfour = document.getElementById("mfour").checked;
          var mthree = document.getElementById("mthree").checked;
          var mtwe = document.getElementById("mtwe").checked;
          var cant = document.querySelector(".cantidad");
          var four = document.querySelector(".four");
          var three = document.querySelector(".three");
          var twe = document.querySelector(".twe");

          if (mfour == true && mthree == false && mtwe == false) {
            cant.classList.remove("none");
            four.classList.remove("none");
            three.classList.add("none");
            twe.classList.add("none");
          } else if (mfour == false && mthree == true && mtwe == false) {
            cant.classList.remove("none");
            four.classList.add("none");
            three.classList.remove("none");
            twe.classList.add("none");
          } else if (mfour == false && mthree == false && mtwe == true) {
            cant.classList.remove("none");
            four.classList.add("none");
            three.classList.add("none");
            twe.classList.remove("none");
          } else {
            cant.classList.add("none");
            four.classList.add("none");
            three.classList.add("none");
            twe.classList.add("none");
          }
          animationFrame(valCantidad);
        };
        valCantidad();
      });
    </script>
  </body>
</html>
