<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <style>
      .none {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Tabla Agricultor</h1>
      <div class="card">
        <div class="card-header "><h4 class="text-center">Agricultor</h4></div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="tipoUser">Tipo Usuario</label>
              <select class="form-control" id="tipo-user">
                <option>--Seleccione--</option>
                <option>Agricultor</option>
                <option>Empresa</option>
                <option>Grupo de Personas</option>
              </select>
            </div>
            <!-- Datos del Agricultor -->
            <div class="agricultor none">
              <div class="row align-items-center">
                <div class="form-group col-sm-6">
                  <label for="">Tipo Documento</label>
                  <select class="form-control" id="tipo-doc">
                    <option>Documento de Indentidad</option>
                    <option>Pasaporte</option>
                  </select>
                </div>

                <div class="form-group col-sm-6 dni none">
                  <label for="">Dni</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Enter Dni"
                  />
                </div>
                <div class="form-group col-sm-6 pasaporte none">
                  <label for="">Pasaporte</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Enter Pasaporte"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="">Nombre</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter nombre"
                />
              </div>
              <div class="form-group">
                <label for="">Apellido Paterno</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter apellido paterno"
                />
              </div>
              <div class="form-group">
                <label for="">Apellido Materno</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter apellido materno"
                />
              </div>
            </div>
            <!-- -------------- -->
            <!-- Datos de la Empresa -->
            <div class="empresa none">
              <div class="form-group">
                <label for="">Ruc</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter Ruc"
                />
              </div>
              <div class="form-group">
                <label for="">Raz&oacute;n Social</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter Raz&oacute;n Social"
                />
              </div>
            </div>
            <!-- ------------------------- -->
            <div class="form-group">
              <label for="">Direcci&oacute;n</label>
              <input
                class="form-control"
                type="text"
                placeholder="Enter direcci&oacute;n"
              />
            </div>
            <div class="form-group">
              <label for="">Referencia</label>
              <input
                class="form-control"
                type="text"
                placeholder="Enter referencia"
              />
            </div>
            <div class="row align-items-center">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="idDepartamento">Departamento</label>
                  <select class="form-control" id="idDepartamento">
                    <option>--Selecione--</option>
                    <option>Lima</option>
                    <option>Ica</option>
                    <option>La Libertad</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="provincia">Provincia</label>
                  <select class="form-control" id="provincia">
                    <option>--Selecione--</option>
                    <option>Huaura</option>
                    <option>Baranca</option>
                    <option>Huaral</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="distrito">Distrito</label>
                  <select class="form-control" id="distrito">
                    <option>--Selecione--</option>
                    <option>Huaral</option>
                    <option>Aucallama</option>
                    <option>Chancay</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="">Email</label>
              <input
                id="telefono"
                class="form-control"
                type="text"
                placeholder="Enter Email"
              />
            </div>
            <div class="row align-items-center">
              <div class="col-sm-8">
                <div class="form-group">
                  <label for="">Tel&eacute;fono</label>
                  <input
                    id="telefono"
                    class="form-control"
                    type="text"
                    placeholder="Enter Tel&eacute;fono"
                  />
                </div>
              </div>
              <div class="col-sm-4">
                <button href="#" class="btn btn-info form-control">+ Telefono</button>
              </div>
            </div>

            <a href="#" class="btn btn-primary form-control">Agregar</a>
          </form>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var animationFrame =
          window.requestAnimationFrame ||
          window.mozRequestAnimationFrame ||
          window.webkitRequestAnimationFrame ||
          window.msRequestAnimationFrame;

        function tipoUser() {
          var tipouser = document.getElementById("tipo-user").value;
          var agri = document.querySelector(".agricultor");
          var empresa = document.querySelector(".empresa");
          if (tipouser == "--Seleccione--") {
            agri.classList.add("none");
            empresa.classList.add("none");
          } else if (tipouser == "Agricultor") {
            agri.classList.remove("none");
            empresa.classList.add("none");
          } else {
            empresa.classList.remove("none");
            agri.classList.add("none");
          }
          animationFrame(tipoUser);
        }
        tipoUser();

        function tipoDoc() {
          var tipodoc = document.getElementById("tipo-doc").value;
          var dni = document.querySelector(".dni");
          var pasaporte = document.querySelector(".pasaporte");
          if (tipodoc == "Pasaporte") {
            dni.classList.add("none");
            pasaporte.classList.remove("none");
          } else {
            dni.classList.remove("none");
            pasaporte.classList.add("none");
          }
          animationFrame(tipoDoc);
        }
        tipoDoc();
      });
    </script>
  </body>
</html>
