<!DOCTYPE html>
<html lang="en">
  <head th:replace="common/menu_2 :: header"></head>
  <body>
  <div class="row">
  	<div class="col-sm-2">
	  	<div th:replace="common/menu_2 :: navbar">
	  	</div>
  	</div>
	<div  class="col-sm-10">
	  	<div class="row">
	  		<div class="" th:replace="common/menu_2 :: menu">
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="container my-4">
		      <h2 class="text-center">Tabla Departamento</h2>
		      <div class="card">
		        <div class="card-header"><h4 class="text-center">Departamento</h4></div>
		        <div class="card-body">
		          <div class="form-group">
		            <label for="">Ubigeo</label>
		            <input
		              class="form-control"
		              type="text"
		              placeholder="Enter Ubigeo"
		            />
		          </div>
		          <div class="form-group">
		            <label for="">Departamento</label>
		            <input
		              class="form-control"
		              type="text"
		              placeholder="Enter departamento"
		            />
		          </div>
		          <button type="button" class="btn btn-block btn-primary"><a th:href="@{/agregar-departamento}" class="text-white h5">AGREGAR</a></button>
		          
		          <div class="my-3 table-responsive-sm">
		            
		          </div>
		        </div>
		      </div>
		    </div>
	  	</div>
	    
	    
	</div>
  </div>
  
  </body>
</html>
